


<div class="hui">

<div [ngClass]="{'limitTextHeight': isReadMore}">

 <div class="hil">RKSV Securities: SEBI Registration No. INZ000185137 | NSE Member Code: 13942 | BSE Clrg Code: 6155 | CDSL: IN-DP-CDSL- 00282534 | NSDL: IN-DP-NSDL-</div>
 <div class="hil">11496819 | CDSL: IN-DP-CDSL- 00283831 | NSDL: IN-DP-NSDL-11497282 | RKSV Commodities MCX Member Code: 46510 | SEBI Regn. No. INZ000015837|</div>
 <div class="hil">Registered Address: 807, New Delhi House Barakhamba Road, Connaught Place, New Delhi- 110001. | Correspondence Address: RKSV/Upstox, 30th Floor, Sunshine</div>
 <div class="hil">Tower, Senapati Bapat Marg, Dadar (W), Mumbai, Maharashtra 400013. For any complaints email at complaints@rksv.in | Please ensure you carefully read the<span> Risk</span></div>
 <div class="hil"><span> Document as prescribed by SEBI <b>and our</b> Terms of Use and Privacy Policy</span></div>

 <div class="hil">The brand name Upstox and logo are the registered trademarks of RKSV Securities India Pvt. Ltd. | The cost-effective brokerage* plans make Upstox a trustworthy and</div>
 <div class="hil">reliable <span>online discount stockbroker.</span> Available on both the web and mobile, it offers unmatched convenience to traders. If you are considering opening a demat account</div>
 <div class="hil">online, then Upstox is just the right place for you.</div>
 <div class="hil">Disclaimer: Investment in securities market are subject to market risks, read all the related documents carefully before investing.</div>
 <div class="hil">Brokerage* will not exceed the SEBI prescribed limit</div>
 <div class="hil">What is a Demat Account?</div>
 <div class="hil">A <span>demat account</span> is where all your securities, purchased in dematerialized or electronic form are saved. In simpler words, it is analogous to a bank account. Just like a</div>
 <div class="hil">bank account holds your money, a demat account holds your shares.</div>
 <div class="hil">Features of Online Demat Account.</div>
 <div class="hil">Pocket-friendly</div>
 <div class="hil">The equity deliveries are free and everything you earn remains all yours. You do not end up spending your hard-earned profit on brokerage*.</div>
 <div class="hil">Paperless account opening</div>
 <div class="hil">All you need is an Aadhar Card to open demat account. There are no physical documents or forms required! Just fill the form online and you can easily submit the documents on the website.</div>
 <div class="hil">Opening demat account</div>
 <div class="hil">The demat account opening process is fairly easy and hassle-free. To open a demat account online, follow the simple steps given below.</div>
 <div class="hil">Step 1: Fill the form</div>
 <div class="hil">Fill the form on the website that is required for opening an online demat account. Once the form is submitted, it will be sent for verification. It takes about 12-24 hours to</div>
 <div class="hil">open a demat account.</div>
 <div class="hil">Step 2: Verification</div>
 <div class="hil">After you submit the required documents along with the account opening form, they will be verified. In case of any problems, you will be contacted using the contact</div>
 <div class="hil">information that you provide.</div>
 <div class="hil">Step 3: Post-verification</div>
 <div class="hil">Once the verification is successful, you will get an unique ID After this you will be all set to enter the world of trading with your free demat account!</div>
</div>
<div class="button" (click)="showText()">
    {{ isReadMore ? 'Read More': 'Read Less' }}
   
</div>
<p class="made">
    Made with love in India | Copyrights © 2017,
    <a href="https://upstox.com/" target="_blank">Upstox</a>
  </p>

</div>


