.limitTextHeight {
    height: 120px;
    overflow: hidden;
    padding-top: 55px;
    
}
.hil{
    margin-left: 105px;
    padding: 3px;
    color: #445a70;

}

.button{
    margin-left: 107px;
    padding-top: 12px;
    cursor: pointer;
    color: blue;
}

span{
    color: blue;
}
b{
    color: #445a70;
}
.hui{
    background: #000;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    // background-repeat-x: initial;
    // background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(0, 0, 0);
    padding-top: 15px;
    font-size: 16px;
 
  
}
p{
    color: #445a70;
    margin-left: 106px;
    line-height: 52px;
}
.made a{
    text-decoration: none;
}
 