<a routerLink="/"><div class="jio">
    <a routerLink="/">  <li class="item">Stocks</li></a>
   <a routerLink="/mutualfunds"> <li class="item">Mutual Funds</li></a>
    <a routerLink="/digitalgold"><li class="item">Digital Golds</li></a>
    <a routerLink="/ipos" class="nav-link" routerLinkActive="active" style="color: blue;"><li class="item">IPOs</li></a>
    <a routerLink="/futureoption"><li class="item">Future & Option</li></a>
</div>

<div class="dis">
  
    <div class="io">
        <div class="sr">IPOs</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>Invest in Stocks before they are listed</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>Apply for IPOs through UPI</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>Track your IPO application easily</div>
    </div>
    <div class="sin">
        <img src="assets/img/ipo.png" >
    </div>

</div>