<div class="jio">
    <a routerLink="/"  >  <li class="item">Stocks</li></a>
   <a   routerLink="/mutualfunds" class="nav-link" routerLinkActive="active" style="color:blue;"> <li class="item">Mutual Funds</li></a>
    <a routerLink="/digitalgold" ><li class="item">Digital Golds</li></a>
    <a  routerLink="/ipos" ><li class="item">IPOs</li></a>
    <a   routerLink="/futureoption"><li class="item">Future & Option</li></a>
</div>

<div class="dis">
   
    <div class="io">
        <div class="sr">Mutual Funds</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>2000+ Mutual Fund schemes</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>Earn higher returns on Direct Mutual Funds</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>Invest as low as ₹500</div>
    </div>
    <div class="sin">
        <img src="assets/img/mf.png">  
    </div>
  
</div>