<a routerLink="/"><div class="jio">
    <a routerLink="/">  <li class="item">Stocks</li></a>
   <a routerLink="/mutualfunds"> <li class="item">Mutual Funds</li></a>
    <a routerLink="/digitalgold"><li class="item">Digital Golds</li></a>
    <a routerLink="/ipos"><li class="item">IPOs</li></a>
    <a routerLink="/futureoption" class="nav-link" routerLinkActive="active" style="color: blue;"><li class="item">Future & Option</li></a>
</div>

<div class="dis">
   
    <div class="io">
        <div class="sr">Future & Options</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>Pay just up to ₹20* per order</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>Option chain with strategy mode</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>TradingView and ChartsIQ chart libraries</div>
    </div>
    <div class="sin">
        <img src="assets/img/futures.png" >
    </div>
   
</div>