<div class="strong">
    Why invest with Upstox?
</div>

<div class="sin">
    <div class="hui">
        <img src="assets/img/rupes.png">
        <p class="iom">0% commissions</p>
        <div class="buron">Investing is free on Upstox!
            ₹0 brokerage* for delivery orders</div>
    </div>
    <div class="hui">
        <img src="assets/img/4dots.png">
        <p class="iom">One app for all</p>
        <div class="buron">Stocks, futures & options, mutual funds, digital gold, IPO & more...</div>
    </div>
    <div class="hui">
        <img src="assets/img/running.png">
        <p class="iom">Trade from anywhere</p>
        <div class="buron">Invest via browser on laptop
            or your phone app</div>
    </div>
</div>

<div class="bion">
    One platform. Multiple investment opportunities.
  <div class="shine">Long term investors, pro traders or part-time traders can choose across various asset classes and create your customised portfolio. All from one platform.</div>
</div>




