.strong{
    padding-top: 133px;
    text-align: center;
    justify-content: center;
    font-size: 38px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sin{
 display: flex;
 height: 333px;
 padding-top: 53px;
}
.hui{
    margin-left: 75px;
    text-align: center;
    justify-content: center;
    max-width: 30%;
}

.iom{
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.buron{
    font-size: 19px;
    // max-width: 70%;
//  margin-left: 58px;
 color: #858080;
 margin-left: auto;
 margin-right: auto;
 max-width: 793px;
    
  
}

.bion{
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    font-size: 37px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shine{
    padding-top: 23px;
  max-width: 613px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    color: #858080;
 font-family: 'Times New Roman', Times, serif;
}
