<div class="hin">
  🎉 Upstox joins Vivo IPL as an Official Partner 
  <svg class="hellobar-arrow" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 10 10" fill="none">
    <path d="M0.324219 4.17578V5.32422H7.32422L4.125 8.55078L4.94531 9.37109L9.56641 4.75L4.94531 0.128906L4.125 0.949219L7.32422 4.17578H0.324219Z" fill="#0046BB"></path>
  </svg>
  
</div>
<div class="kill">
<div class="sun">
  <div class="shine">
   <p>Investing</p>
   <img src="assets/img/er.png">
   <div class="kin">With Upstox, it’s easy!</div>
  <div class="tin">Pay ₹249 and get:</div>
  <div class="slot">
    <div class="po"><i class="fa fa-check-circle-o"></i>Demat & Trading Account</div>
    <div class="po"><i class="fa fa-check-circle-o"></i>Zero brokerage* on Stocks, Mutual Funds, <span>Digital Gold, IPO and NFOs</span></div>
    <div class="po"><i class="fa fa-check-circle-o"></i>₹20* per order on Intraday & F&O</div>
  </div>
  <div class="dil">*View terms and conditions.</div>

  </div>

 <div class="loi">
   <div class="shu">Sign up <span>for a new account below</span></div>
   <div class="nu">
    <i class="fa fa-envelope-o"></i>
     <input type="text" name=""placeholder="Email Address">
   </div>
   
   <div class="nuin">
    <i class="fa fa-phone"> &nbsp;+91</i>
     <input type="text" name=""placeholder="Phone Number">
   </div>
   <div class="hil">By signing up, you agree to receive transactional updates on Whatsapp</div>
 <div class="bu">
   <button class="btn">Send OTP</button>
 </div>
 <div class="kal"><span>Sign in</span> to continue your existing application</div>
  </div>
 </div> 
</div>

<app-container></app-container>
<router-outlet></router-outlet>
<app-text></app-text>
<app-foot></app-foot>
<app-home></app-home>
<app-footer></app-footer>

