<a routerLink="/"><div class="jio">
    <a routerLink="/">  <li class="item">Stocks</li></a>
   <a routerLink="/mutualfunds"> <li class="item">Mutual Funds</li></a>
    <a routerLink="/digitalgold" class="nav-link" routerLinkActive="active" style="color: blue;"><li class="item">Digital Golds</li></a>
    <a routerLink="/ipos"><li class="item">IPOs</li></a>
    <a routerLink="/futureoption"><li class="item">Future & Option</li></a>
</div>


<div class="dis">
  
    <div class="io">
        <div class="sr">Digital Gold</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>99.9% pure 24K gold</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>Invest as low as ₹1</div>
        <div class="po"><i class="fa fa-check-circle-o"></i> Buy/ sell real-time from anywhere</div>
    </div>
    <div class="sin">
        <img src="assets/img/gold.png" >
    </div>
   
</div>