<div class="jio">
    <a  routerLink="/" class="nav-link" routerLinkActive="active" style="color: blue;">  <li class="item">Stocks</li></a>
   <a routerLink="/mutualfunds"  > <li class="item">Mutual Funds</li></a>
    <a routerLink="/digitalgold" ><li class="item">Digital Golds</li></a>
    <a routerLink="/ipos" ><li class="item">IPOs</li></a>
    <a routerLink="/futureoption" ><li class="item">Future & Option</li></a>
</div>

<div class="dis">
   
    <div class="io">
        <div class="sr">Stocks</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>Easy, fast & simple interface</div>
        <div class="po"><i class="fa fa-check-circle-o"></i>Zero brokerage* on Stock investments <p>(Delivery orders)</p></div>
        <div class="po"><i class="fa fa-check-circle-o"></i>₹20* per order on Intraday</div>
    </div>
    <div class="sin">
        <img src="assets/img/stocks.png" >
    </div>
  
</div>