.lop{
    padding-top: 93px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.kio{
    padding-top: 55px;
    display: flex;
 
}
.cow{
      margin-left: auto;
      margin-right: auto;
      margin-left: 125px;
    
 
}

.price{
    text-align: center;
    justify-content: center;
    font-size: 33px;
}
.pr{
    text-align: center;
    justify-content: center;
    font-size: 22px;
    color: #3f3e3e;
    padding-top: 8px;
}
.pric{
    padding-top: 7px;
    text-align: center;
    justify-content: center;
    font-size: 17px;
}
.tui{
     padding-top: 73px;
    max-width: 55%;
    margin: auto;
    font-size: 22px;
    color: #4a4a4a;
    font-family: 'Times New Roman', Times, serif;
    
}


.tui a{
    color: #0744ad;
    text-decoration: none;
    padding: 0px 4px;
   
}
.nio{
    padding-top: 2px;
    margin: 2px 36px;
}

