<div class="lop">
    Don’t let brokerage* eat into your profits!
</div>

<div  class="kio">
    <div class="cow">
        <div  class="price">₹0</div>
        <div  class="pr">Brokerage*</div>
        <div  class="pric">On investing in stocks for more than a day</div>
    </div>
   
    <div  class="cow">
        <div class="price">₹20*</div>
        <div class="pr">Brokerage*</div>
        <div  class="pric">On trading in Intraday, Futures and Options</div>
    </div>

    <div  class="cow">
        <div  class="price">₹0</div>
        <div  class="pr">Commissions</div>
        <div class="pric">On investing in mutual funds and digital gold</div>
    </div>

    <div  class="cow">
        <div  class="price">₹249</div>
        <div class="pr">Charges</div>
        <div  class="pric">For opening an account online with Upstox</div>
    </div>
</div>

<div class="tui"> 
    ₹25 + 18% GST are levied to maintain your demat account with us every month.
    <div  class="nio"> We promise there are no hidden charges, view the complete list <a  href="assets/img/pricing.html" ><span >here </span></a>
    </div>
    </div>