.tuin{
    text-align: center;
    justify-content: center;
    height: 122px;
}

.silk{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hilk{
    padding: 19px;
    font-size: 20px;
}

.shine{
    display: flex;
    margin: auto;
    max-width: 70%;
    font-family: 'Times New Roman', Times, serif;
   
}
.hun{
    font-size: 20px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.6);
}
.din{
    
        font-size: 20px;
       margin: 1px 54px;
       color: rgba(0, 0, 0, 0.6);
    
}
.nin{
    font-size: 20px;
        // letter-spacing: 2px;
        color: rgba(0, 0, 0, 0.6);
}
.y{

    display: flex;
    margin: auto;
    max-width: 69%;
    padding-top: 50px;

   
}

// span{
//     margin: 0px 11px;

// }
.cow{
    padding: 3px 65px;
   
}
.hine{
  padding: 5px;
}

.uij{
   padding: 0px 12px;
}
.hine{
    font-size: 13px;
    padding: 2px 15px;
}
.sjiu{
    padding: 2px 15px;
}
.sri{
    display: flex;
    margin: auto;
    max-width: 68%;
    height: 300px;
}

.yon{
    padding: 3px 65px;
  margin-top: 45px;
}
.noi{
    padding-top: 35px;
    font-size: 15.2px;
   color: rgb(163, 156, 156);
}
