<div class="tuin">
    <div class="silk">Trusted by lakhs of Indians.</div>
    <div class="hilk">Here’s a few reasons you should choose Upstox</div>
</div>

<div class="shine">

    <div class="hun">Superb app! The rates are live and real time and the charting is very good. Supports major Indian markets along with FnO too!</div>
    <div class="din">A very powerful platform for users who want a real guide. It has always been easy here and it is helping me a great deal!</div>
    <div class="nin">A reliable app and highly trustworthy. No one should avoid taking benefit from such a great service! Designed for speed and comfort!</div>

</div>

<div class="y">
    <div class="cow">
        <img class="uij" src="assets/img/male.png"><span>Kaju Goswami</span>
      <div class="hine">Reviewed on April 2020</div>
      <div class="sjiu"><img src="assets/img/5star.png"></div>
</div>
      <div class="cow">
        <img class="uij" src="assets/img/female.png"> <span>Sandhya Varma</span>
      <div class="hine">Reviewed on November 2020</div>
      <div class="sjiu"><img src="assets/img/5star.png"></div>
</div>
      <div class="cow">
        <img class="uij" src="assets/img/female.png"><span>Riya Borah</span>
      <div class="hine">Reviewed on November 2020</div>
      <div class="sjiu"><img src="assets/img/5star.png"></div>
      </div>
</div>

<div class="sri">
    <div class="yon">
        <img src="assets/img/award-india.png">
        <div class="noi">Best innovation in wealth management (2020)</div>
    </div>
    <div class="yon">
        <img src="assets/img/award-mcx.png">
        <div class="noi">Most promising broking house of the year (2019)</div>
    </div>
    <div class="yon">
        <img src="assets/img/award-cdsl.png">
        <div class="noi">Highest number of accounts in a single month by a broker (2019)</div>
    </div>
</div>
